



  <%= form_for([@user, @workout]) do |f| %>

  <%= f.hidden_field :user_id %>
  <p><%= f.label :name, "Workout Name" %></p>
     <%= f.text_field :name %>
  <p><%= f.label :description, "Describe Workout" %></p>
     <%= f.text_field :description %>
        </br><br>
      <%= f.submit %>

<%end%>
