





<%= form_for([@user, @workout], :remote => true) do |f| %>

 <%= f.hidden_field :user_id %>
 <p id='workout_name_rails'><%= f.label :name, "Workout Name" %></p>
    <%= f.text_field :name %>
 <p id='workout_day_rails'><%= f.label :day, "Workout Day" %></p>
    <%= f.text_field :day %>
 <p id='workout_description_rails'><%= f.label :description, "Describe Workout" %></p>
    <%= f.text_field :description %>
       </br><br>
     <%= f.submit %>

<%end%>
