<div align="center">


  <h3><%= @workout.name %></h3>

</div>

  <br></br>
  <strong>Description:</strong>
  <%= @workout.description %>
  <p><strong>Day: </strong><%= @workout.day %></p>


  <br></br>
  <strong>Exercises:</strong></br>

    <% if @workout.exercises.all.count == 0 %>
    This workout has no exercises,
      <%= link_to "Add Exercises", new_workout_exercise_path(@workout) %>
    <% else %>

    <p class = "load_exercises">
      <%= link_to "Exercises", workout_exercises_path(@workout), :class => "load_workout_exercises" %>
    </p>

    <br>

    <div class="exercises">

    </div>


    <%= link_to "Add More Exercises", new_workout_exercise_path(@workout) %>
    <% end %>


  <br></br>
  <div align="center">
    <%= link_to "Edit Workout", edit_workout_path(@workout)%>
    <br></br>
    <%= link_to "Back", workouts_path %>
  </div>
