<p><strong>Name: </strong><%= @user.email %></p>

</br>


<div class="add-workouts">
  <ol>
    <%= render 'workouts/workouts' %>
  </ol>
</div>

<p>
  <%= link_to "Workouts", user_workouts_path(@user), :class => "load_user_workouts" %>
</p>


<div class="workouts">
  <ol>

  </ol>
</div>


<%= render 'workouts/form' %>



<br></br>



<p align="center"><%= link_to "Edit Your Account", edit_user_path %></p>
