<p><strong>Name: </strong><%= @user.email %></p>

</br>


<p>
  <%= link_to "Workouts", user_workouts_path(@user), :class => "load_user_workouts" %>
</p>

<p>
  <%= link_to "Go to Current Workouts", user_path(@user), action: :current_workouts %>
</p>

<div class="workouts">
  <ol>

  </ol>
</div>

<div >
  <% @user.workouts.all.each do |workout| %>
    <%= link_to "#{workout.name}", user_workout_path(@user, workout) %>
  <% end %>
</div>

<%= render 'workouts/form' %>



<br></br>



<p align="center"><%= link_to "Edit Your Account", edit_user_path %></p>
