

<div align="center">


<%= form_for([@workout, @exercise]) do |e| %>
  <!-- <%#= binding.pry %> -->
	
	<%= e.hidden_field :authenticity_token, value: form_authenticity_token %>
	<%= e.hidden_field :workout_id %>

    <div>
      <%= e.label :name, "Exercise Name" %>
      <%= e.text_field :name %>
    </div>
      </br>


    <div>
      <%= e.label :sets, "Add umber of Sets" %>
      <%= e.number_field :sets %>
    </div>
      </br>

    <div>
      <%= e.label :reps, "Add Number of Reps" %>
      <%= e.number_field :reps %>
    </div>
      </br>

    <div>
      <%= e.label :rest, "Add Rest Period in Seconds" %>
      <%= e.number_field :rest %>
    </div>
      </br>

    <div>
      <%= e.submit %>
    </div>

<% end %>

</div>
